Repository icelam/excel-named-range-wizard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --write, eslint --report-unused-disable-directives --fix --quiet

.lintstagedrc:

{
  "src/**/*.{json,css,scss,md}": [
    "prettier --single-quote --write"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --report-unused-disable-directives --fix --quiet"
  ]
}

feat: export all named ranges
  .eslintrc
  src/taskpane/components/Header.tsx
  src/taskpane/components/HeroList.tsx
  src/taskpane/excelUtils/getNamedRanges.ts
  src/taskpane/excelUtils/index.js
  src/taskpane/locale/en.json
  src/taskpane/pages/Home.tsx
Due: prettier --single-quote --write, eslint --report-unused-disable-directives --fix --quiet

feat: validate named ranges
  .eslintrc
  src/taskpane/components/HeroList.tsx
  src/taskpane/components/Modal.tsx
  src/taskpane/components/Progress.tsx
  src/taskpane/components/index.ts
  src/taskpane/excelUtils/exportNamedRanges.ts
  src/taskpane/excelUtils/getNamedRanges.ts
  src/taskpane/excelUtils/index.js
  src/taskpane/excelUtils/index.ts
  src/taskpane/excelUtils/validateNamedRanges.ts
  src/taskpane/locale/en.json
  src/taskpane/pages/Home.tsx
  src/taskpane/styles/theme.ts
Due: prettier --single-quote --write, eslint --report-unused-disable-directives --fix --quiet

feat: add name range
  src/taskpane/components/index.ts
  src/taskpane/excelUtils/addNamedRange.ts
  src/taskpane/excelUtils/common.ts
  src/taskpane/excelUtils/exportNamedRanges.ts
  src/taskpane/excelUtils/getNamedRanges.ts
  src/taskpane/excelUtils/index.ts
  src/taskpane/excelUtils/validateNamedRanges.ts
  src/taskpane/locale/en.json
  src/taskpane/pages/Home.tsx
  tsconfig.json
Due: prettier --single-quote --write, eslint --report-unused-disable-directives --fix --quiet

feat: edit named ranges
  src/taskpane/excelUtils/addNamedRange.ts
  src/taskpane/excelUtils/common.ts
  src/taskpane/excelUtils/editNamedRange.ts
  src/taskpane/excelUtils/index.ts
  src/taskpane/locale/en.json
  src/taskpane/pages/Home.tsx
Due: prettier --single-quote --write, eslint --report-unused-disable-directives --fix --quiet

feat: support named ranges in worksheet scope
  .eslintrc
  src/taskpane/excelUtils/addNamedRange.ts
  src/taskpane/excelUtils/common.ts
  src/taskpane/excelUtils/editNamedRange.ts
Due: eslint --report-unused-disable-directives --fix --quiet

ci: add release workflow
  .eslintrc
  .github/workflows/release.yml
  .gitignore
  .versionrc
  README.md
  package.json
  scripts/extractLatestChangeLog.js
  src/taskpane/index.tsx
  src/taskpane/taskpane.html
  webpack.config.js
Due: eslint --report-unused-disable-directives --fix --quiet

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Deploy to gh-pages from @ 18f81ff
  assets/icon-16.png
  assets/icon-32.png
  assets/icon-80.png
  assets/js/commands.f3107a2681d16488cbc9.js
  assets/js/taskpane.f3107a2681d16488cbc9.js
  assets/js/vendor.f3107a2681d16488cbc9.js
  commands.html
  manifest.prod.xml
  taskpane.f3107a2681d16488cbc9.css
  taskpane.html
Due: none

docs: update ci badge
  README.md
Due: none

fix: missing logo files on production
  src/taskpane/pages/Home.tsx
  webpack.config.js
Due: eslint --report-unused-disable-directives --fix --quiet

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Deploy to gh-pages from @ 01d0bd8
  assets/icon-128.png
  assets/icon-64.png
  assets/js/commands.8d00a461f0459d371112.js
  assets/js/commands.f3107a2681d16488cbc9.js
  assets/js/taskpane.8d00a461f0459d371112.js
  assets/js/vendor.8d00a461f0459d371112.js
  assets/logo-filled.png
  commands.html
  taskpane.8d00a461f0459d371112.css
  taskpane.html
Due: none

ci: update github actions used to latest version
  .github/workflows/release.yml
Due: none

docs: fix typo in windows start command
  README.md
Due: none

chore: setup dependabot for upgrading github actions
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none
